In [307]:
%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt
#графики в svg выглядят более четкими
%config InlineBackend.figure_format = 'svg' 

#увеличим дефолтный размер графиков
from pylab import rcParams
import pandas as pd
import numpy as np
!pip install cpi
import cpi

Requirement already satisfied: cpi in /usr/local/lib/python3.6/dist-packages (0.1.16)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from cpi) (2.8.1)
Requirement already satisfied: pandas>=0.23.1 in /usr/local/lib/python3.6/dist-packages (from cpi) (1.0.3)
Requirement already satisfied: click>=6.7 in /usr/local/lib/python3.6/dist-packages (from cpi) (7.1.1)
Requirement already satisfied: requests>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from cpi) (2.21.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->cpi) (1.12.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.1->cpi) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.1->cpi) (1.18.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->cpi) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->cpi) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->cpi) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->cpi) (2020.4.5.1)

# **Primary data processing**
Let's open our dataset and make some changes to it for further analysis

In [308]:
dfm = pd.read_csv('./tmdb_5000_movies.csv')
dfm['release_date'] = pd.to_datetime(dfm['release_date'])

num_cols = ['budget', 'popularity', 'runtime', 'vote_average', 'vote_count']
id_cols = ['id']

cat_cols = ['original_language']

target = ['revenue']

dfm.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [309]:
dfm = dfm.drop(dfm[(dfm.runtime == 0) | (dfm.revenue == 0) | (dfm.budget == 0)].index, axis=0)

print(len(dfm))
dfm.describe()

3229

             budget             id  ...  vote_average    vote_count
count  3.229000e+03    3229.000000  ...   3229.000000   3229.000000
mean   4.065444e+07   44780.705791  ...      6.309353    977.287395
std    4.439674e+07   74609.434723  ...      0.873891   1414.309577
min    1.000000e+00       5.000000  ...      0.000000      0.000000
25%    1.050000e+07    4958.000000  ...      5.800000    178.000000
50%    2.500000e+07   11451.000000  ...      6.300000    471.000000
75%    5.500000e+07   45272.000000  ...      6.900000   1148.000000
max    3.800000e+08  417859.000000  ...      8.500000  13752.000000

[8 rows x 7 columns]

In [310]:
#Data columns
dfm['year'] = pd.DatetimeIndex(dfm['release_date']).year
dfm['month'] = pd.DatetimeIndex(dfm['release_date']).month
#Inflation
"""dfm['revenue'] = dfm.apply(lambda x: cpi.inflate(x.revenue, x.year), axis=1)
dfm['budget'] = dfm.apply(lambda x: cpi.inflate(x.budget, x.year), axis=1)"""

"dfm['revenue'] = dfm.apply(lambda x: cpi.inflate(x.revenue, x.year), axis=1)\ndfm['budget'] = dfm.apply(lambda x: cpi.inflate(x.budget, x.year), axis=1)"

In [311]:
#Change type of original language
dfm.original_language[dfm.original_language != 'en'] = 0
dfm.original_language[dfm.original_language != 0] = 1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [0]:
import json

#Translate data to acceptable format by converting a JSON columns
prime_genre = pd.json_normalize(dfm.genres.apply(json.loads).apply(lambda x: x[0] if (x != []) else {'id': 0, 'name': 'None'}))
secondary_genre = pd.json_normalize(dfm.genres.apply(json.loads).apply(lambda x: x[1] if (len(x) > 1) else {'id': 0, 'name': 'None'}))

#genres
dfm['prime_genre_name'] = prime_genre['name']
dfm['secondary_genre_name'] = secondary_genre['name']

#production country
dfm['production_country_id'] = pd.json_normalize(dfm.production_countries.apply(json.loads).apply(lambda x: x[0] if (x != []) else {'iso_3166_1': 'None', 'name': 'Unknown'}))['iso_3166_1']

#production companies
dfm['production_company_name'] = pd.json_normalize(dfm.production_companies.apply(json.loads).apply(lambda x: x[0] if (x != []) else {'id': 'None', 'name': 'NaN'}))['name']
#dfm['second_production_company'] = pd.json_normalize(dfm.production_companies.apply(json.loads).apply(lambda x: x[1] if (len(x) > 1) else {'id': 'None', 'name': 'NaN'}))['name']

id_cols += ['production_country_id']
dfm = dfm.drop(['genres', 'homepage', 'original_title',
                'production_countries', 'production_companies', 'keywords',
                "tagline",	"title", 'overview',
                'spoken_languages'], axis=1)

In [313]:
num_cols.remove('popularity')
num_cols.remove('vote_count')
dfm[num_cols].sample(10)

         budget  runtime  vote_average
3035   10000000     84.0           5.6
2675   14000000    125.0           6.6
236   115000000    134.0           5.8
2017   22000000    127.0           6.9
2665   14200000    139.0           6.9
825    55000000     98.0           6.1
1574   30000000     99.0           5.8
3958    3000000     83.0           4.9
4437     900000     96.0           6.1
1375   35000000    100.0           5.8

In [0]:
a = pd.DataFrame.from_dict({'genres': dfm['prime_genre_name']})
b = pd.DataFrame.from_dict({'genres': dfm['secondary_genre_name']})

In [0]:
genres = pd.get_dummies(a) + pd.get_dummies(b)
dfm = pd.concat([dfm, genres], axis=1)

In [316]:
dfm = dfm.drop(['prime_genre_name', 'secondary_genre_name'], axis=1)
dfm.head(3)

      budget      id  ... genres_War  genres_Western
0  237000000   19995  ...          0               0
1  300000000     285  ...          0               0
2  245000000  206647  ...          0               0

[3 rows x 33 columns]

In [317]:
#Now change a company format
dfm['company_portfolio'] = dfm.groupby('production_company_name')['production_company_name'].transform('count')
dfm.production_company_name[dfm.company_portfolio < 2] = 'Noname company'
#dfm.second_production_company[dfm.groupby('second_production_company')['second_production_company'].transform('count') < 2] = 'Noname company'
dfm.sample(10)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         budget     id  ... genres_Western  company_portfolio
692   150000000   9982  ...              0               23.0
458    80000000  41515  ...              0               24.0
3004   10000000   1832  ...              0               41.0
2345   18000000  25643  ...              0               31.0
4080    2000000  92182  ...              0                NaN
226   120000000  42888  ...              0              185.0
1325   40000000  14325  ...              0                8.0
1568   30000000  59967  ...              0               24.0
107   160000000  68735  ...              0              200.0
1116   42000000  37233  ...              0                3.0

[10 rows x 34 columns]

In [0]:
c = pd.DataFrame.from_dict({'company': dfm['production_company_name']})
#c1 = pd.DataFrame.from_dict({'company': dfm['second_production_company']})

company = pd.get_dummies(c) #+ pd.get_dummies(c1)
dfm = pd.concat([dfm, company], axis=1)

In [319]:
num_cols = ['budget', 'vote_average', 'runtime', 'company_portfolio', 'year', 'month']
cat_cols = [i for i in list(map(lambda x: x if x.startswith('company') or x.startswith('genres') else None, dfm.columns)) if i]

dfm['profitable'] = (dfm.revenue / dfm.budget) > 2.5
dfm['foreign'] = (dfm.production_country_id) != 'US'

cat_cols2 = ['original_language', 'profitable', 'foreign']

#LOGARITHM IT!
"""dfm.budget = np.log(dfm.budget)
dfm.revenue = np.log(dfm.revenue)"""

'dfm.budget = np.log(dfm.budget)\ndfm.revenue = np.log(dfm.revenue)'

# SKlearn first tests

In [0]:
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, LogisticRegression
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor, RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import r2_score, mean_squared_error, make_scorer, accuracy_score
from sklearn.model_selection import cross_validate
from sklearn.neighbors import KNeighborsClassifier
import sklearn.preprocessing

In [321]:
dfm.company_portfolio = dfm.company_portfolio.fillna(1)
dfm[cat_cols + cat_cols2 + num_cols]

      genres_Action  genres_Adventure  ...  year  month
0                 1                 1  ...  2009     12
1                 0                 1  ...  2007      5
2                 1                 1  ...  2015     10
3                 1                 0  ...  2012      7
4                 1                 1  ...  2012      3
...             ...               ...  ...   ...    ...
4773              0                 0  ...  1994      9
4788              0                 0  ...  1972      3
4792              0                 0  ...  1997     11
4796              0                 0  ...  2004     10
4798              0                 0  ...  1992      9

[3229 rows x 236 columns]

In [322]:
"""scaler = sklearn.preprocessing.StandardScaler()
# Fit your data on the scaler object
scaled_df = scaler.fit_transform(dfm[num_cols])
scaled_df = pd.DataFrame(scaled_df, columns=dfm[num_cols].columns)
pd.concat([scaled_df.fillna(0), 
           dfm[cat_cols + cat_cols2]], 
          axis=1)"""
dfm[num_cols + cat_cols + cat_cols2]

         budget  vote_average  runtime  ...  original_language  profitable  foreign
0     237000000           7.2    162.0  ...                  1        True    False
1     300000000           6.9    169.0  ...                  1        True    False
2     245000000           6.3    148.0  ...                  1        True     True
3     250000000           7.6    165.0  ...                  1        True    False
4     260000000           6.1    132.0  ...                  1       False    False
...         ...           ...      ...  ...                ...         ...      ...
4773      27000           7.4     92.0  ...                  1        True     True
4788      12000           6.2     93.0  ...                  1        True     True
4792      20000           7.4    111.0  ...                  0        True     True
4796       7000           6.9     77.0  ...                  1        True     True
4798     220000           6.6     81.0  ...                  0        True     True

[3229 rows x 236 columns]

In [323]:
#pca = PCA(n_components=20)
#X = pca.fit_transform(dfm[num_cols + cat_cols + cat_cols2])
X = dfm[num_cols + cat_cols2]
y = np.array(dfm[target])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.50, random_state=42)

print(X_train, X_test, y_train, y_test)

        budget  vote_average  runtime  ...  original_language  profitable  foreign
2920  11000000           7.3    106.0  ...                  1        True    False
4669    210000           6.7     80.0  ...                  1        True     True
2203  30000000           6.4    101.0  ...                  1       False     True
940   50000000           6.3    128.0  ...                  1       False     True
4219   1000000           5.9     97.0  ...                  1        True     True
...        ...           ...      ...  ...                ...         ...      ...
1178  40000000           6.2     90.0  ...                  1        True    False
1218  40000000           5.4     95.0  ...                  1       False     True
1418  35000000           6.3    155.0  ...                  1       False     True
913   70000000           6.4    104.0  ...                  1        True    False
4579    400000           7.8     91.0  ...                  1        True     True

[1614 rows x 9 columns]          budget  vote_average  runtime  ...  original_language  profitable  foreign
460    80000000           5.3    102.0  ...                  1       False    False
2473   15000000           6.7     96.0  ...                  1        True     True
302    80000000           6.5     97.0  ...                  1       False    False
4221    1500000           7.3    111.0  ...                  1        True     True
1785   22000000           7.0    139.0  ...                  1        True     True
...         ...           ...      ...  ...                ...         ...      ...
3569    5000000           5.2     84.0  ...                  1        True     True
1417   45000000           5.1    101.0  ...                  1       False    False
308   105000000           5.5    114.0  ...                  1       False     True
211   123000000           6.2    104.0  ...                  1        True     True
2817   12000000           7.0    114.0  ...                  1        True     True

[1615 rows x 9 columns] [[ 78874843]
 [  5000000]
 [ 27674124]
 ...
 [ 25105255]
 [225990978]
 [  5028948]] [[169852759]
 [ 96408652]
 [140073390]
 ...
 [133718711]
 [345141403]
 [ 79567667]]

In [0]:
def print_metrics(y_preds, y):
    print(f'R^2: {r2_score(y_preds, y)}')
    print(f'MSE: {mean_squared_error(y_preds, y)}')
    #print(f'Accuracy: {accuracy_score()}')

In [325]:
# Standart linearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)

print_metrics(lr.predict(X_test), y_test)

R^2: 0.37422447758963195
MSE: 1.3447395647794936e+16

In [326]:
#Ridge LinearRegression
rlr = Ridge(alpha=1)
rlr.fit(X_train, y_train)

print_metrics(rlr.predict(X_test), y_test)

R^2: 0.37342113252603815
MSE: 1.344737458633567e+16

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_ridge.py:148: LinAlgWarning: Ill-conditioned matrix (rcond=1.53121e-17): result may not be accurate.
  overwrite_a=True).T

In [327]:
gbr = GradientBoostingRegressor()
gbr.fit(X_train, y_train)

print_metrics(gbr.predict(X_test), y_test)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

R^2: 0.542348319675182
MSE: 1.0853051010724258e+16

In [328]:
rfr = RandomForestRegressor()
rfr.fit(X_train, y_train)

print_metrics(rfr.predict(X_test), y_test)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

R^2: 0.5512685137970726
MSE: 1.1079443563444794e+16

In [329]:
print(target)
cross_validate(Ridge(), X, dfm[target], cv=5, 
               scoring={'r2_score': make_scorer(r2_score, ), 
                        'mean_squared_error': make_scorer(mean_squared_error)})

['revenue']

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_ridge.py:148: LinAlgWarning: Ill-conditioned matrix (rcond=1.54873e-17): result may not be accurate.
  overwrite_a=True).T
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_ridge.py:148: LinAlgWarning: Ill-conditioned matrix (rcond=1.50609e-17): result may not be accurate.
  overwrite_a=True).T
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_ridge.py:148: LinAlgWarning: Ill-conditioned matrix (rcond=1.3629e-17): result may not be accurate.
  overwrite_a=True).T
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_ridge.py:148: LinAlgWarning: Ill-conditioned matrix (rcond=1.19283e-17): result may not be accurate.
  overwrite_a=True).T

{'fit_time': array([0.00636792, 0.00748086, 0.0072403 , 0.00714183, 0.00708365]),
 'score_time': array([0.00408053, 0.00374436, 0.00366926, 0.00371075, 0.00373363]),
 'test_mean_squared_error': array([4.86326106e+16, 6.43528400e+15, 4.49229949e+15, 6.48238868e+15,
        6.52646850e+15]),
 'test_r2_score': array([ 0.4386604 ,  0.47455498,  0.35508593,  0.06133926, -2.12038599])}

In [330]:
cross_validate(RandomForestRegressor(), X, dfm[target], cv=5, 
               scoring={'r2_score': make_scorer(r2_score, ), 
                        'mean_squared_error': make_scorer(mean_squared_error)})

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

{'fit_time': array([1.03649879, 1.01943088, 0.9906826 , 0.99749398, 0.99549532]),
 'score_time': array([0.01540899, 0.01733851, 0.01888633, 0.01734471, 0.01491094]),
 'test_mean_squared_error': array([5.66060129e+16, 6.17452877e+15, 3.45304809e+15, 4.95151642e+15,
        5.84619829e+15]),
 'test_r2_score': array([ 0.34662778,  0.49584581,  0.50428076,  0.28301213, -1.79514032])}

In [0]:
from sklearn.model_selection import GridSearchCV

In [332]:
%%time
gbr_grid_search = GridSearchCV(GradientBoostingRegressor(), 
                               [{'n_estimators': [100, 150, 440], 'learning_rate': [0.01, 0.05, 0.1, 0.15]}],
                               cv=5,
                               error_score=make_scorer(mean_squared_error),
                               verbose=10)
gbr_grid_search.fit(X_train, y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits
[CV] learning_rate=0.01, n_estimators=100 ............................
[CV]  learning_rate=0.01, n_estimators=100, score=0.592, total=   0.2s
[CV] learning_rate=0.01, n_estimators=100 ............................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.01, n_estimators=100, score=0.599, total=   0.2s
[CV] learning_rate=0.01, n_estimators=100 ............................
[CV]  learning_rate=0.01, n_estimators=100, score=0.650, total=   0.2s
[CV] learning_rate=0.01, n_estimators=100 ............................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.3s remaining:    0.0s
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.5s remaining:    0.0s
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.01, n_estimators=100, score=0.575, total=   0.2s
[CV] learning_rate=0.01, n_estimators=100 ............................
[CV]  learning_rate=0.01, n_estimators=100, score=0.545, total=   0.2s
[CV] learning_rate=0.01, n_estimators=150 ............................

[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    0.7s remaining:    0.0s
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.8s remaining:    0.0s
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.01, n_estimators=150, score=0.661, total=   0.2s
[CV] learning_rate=0.01, n_estimators=150 ............................

[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    1.1s remaining:    0.0s
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.01, n_estimators=150, score=0.659, total=   0.3s
[CV] learning_rate=0.01, n_estimators=150 ............................

[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:    1.3s remaining:    0.0s
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.01, n_estimators=150, score=0.731, total=   0.2s
[CV] learning_rate=0.01, n_estimators=150 ............................

[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:    1.6s remaining:    0.0s
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.01, n_estimators=150, score=0.650, total=   0.2s
[CV] learning_rate=0.01, n_estimators=150 ............................

[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:    1.8s remaining:    0.0s
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.01, n_estimators=150, score=0.619, total=   0.2s
[CV] learning_rate=0.01, n_estimators=440 ............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.01, n_estimators=440, score=0.707, total=   0.7s
[CV] learning_rate=0.01, n_estimators=440 ............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.01, n_estimators=440, score=0.692, total=   0.7s
[CV] learning_rate=0.01, n_estimators=440 ............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.01, n_estimators=440, score=0.775, total=   0.7s
[CV] learning_rate=0.01, n_estimators=440 ............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.01, n_estimators=440, score=0.727, total=   0.7s
[CV] learning_rate=0.01, n_estimators=440 ............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.01, n_estimators=440, score=0.715, total=   0.7s
[CV] learning_rate=0.05, n_estimators=100 ............................
[CV]  learning_rate=0.05, n_estimators=100, score=0.700, total=   0.2s
[CV] learning_rate=0.05, n_estimators=100 ............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.05, n_estimators=100, score=0.693, total=   0.2s
[CV] learning_rate=0.05, n_estimators=100 ............................
[CV]  learning_rate=0.05, n_estimators=100, score=0.771, total=   0.2s
[CV] learning_rate=0.05, n_estimators=100 ............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.05, n_estimators=100, score=0.734, total=   0.2s
[CV] learning_rate=0.05, n_estimators=100 ............................
[CV]  learning_rate=0.05, n_estimators=100, score=0.724, total=   0.2s
[CV] learning_rate=0.05, n_estimators=150 ............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.05, n_estimators=150, score=0.691, total=   0.2s
[CV] learning_rate=0.05, n_estimators=150 ............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.05, n_estimators=150, score=0.695, total=   0.2s
[CV] learning_rate=0.05, n_estimators=150 ............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.05, n_estimators=150, score=0.764, total=   0.2s
[CV] learning_rate=0.05, n_estimators=150 ............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.05, n_estimators=150, score=0.745, total=   0.2s
[CV] learning_rate=0.05, n_estimators=150 ............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.05, n_estimators=150, score=0.737, total=   0.2s
[CV] learning_rate=0.05, n_estimators=440 ............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.05, n_estimators=440, score=0.593, total=   0.7s
[CV] learning_rate=0.05, n_estimators=440 ............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.05, n_estimators=440, score=0.667, total=   0.7s
[CV] learning_rate=0.05, n_estimators=440 ............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.05, n_estimators=440, score=0.712, total=   0.7s
[CV] learning_rate=0.05, n_estimators=440 ............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.05, n_estimators=440, score=0.740, total=   0.7s
[CV] learning_rate=0.05, n_estimators=440 ............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.05, n_estimators=440, score=0.733, total=   0.7s
[CV] learning_rate=0.1, n_estimators=100 .............................
[CV] . learning_rate=0.1, n_estimators=100, score=0.650, total=   0.2s
[CV] learning_rate=0.1, n_estimators=100 .............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV] . learning_rate=0.1, n_estimators=100, score=0.692, total=   0.2s
[CV] learning_rate=0.1, n_estimators=100 .............................
[CV] . learning_rate=0.1, n_estimators=100, score=0.741, total=   0.2s
[CV] learning_rate=0.1, n_estimators=100 .............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV] . learning_rate=0.1, n_estimators=100, score=0.730, total=   0.2s
[CV] learning_rate=0.1, n_estimators=100 .............................
[CV] . learning_rate=0.1, n_estimators=100, score=0.727, total=   0.2s
[CV] learning_rate=0.1, n_estimators=150 .............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV] . learning_rate=0.1, n_estimators=150, score=0.602, total=   0.2s
[CV] learning_rate=0.1, n_estimators=150 .............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV] . learning_rate=0.1, n_estimators=150, score=0.681, total=   0.2s
[CV] learning_rate=0.1, n_estimators=150 .............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV] . learning_rate=0.1, n_estimators=150, score=0.708, total=   0.2s
[CV] learning_rate=0.1, n_estimators=150 .............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV] . learning_rate=0.1, n_estimators=150, score=0.728, total=   0.2s
[CV] learning_rate=0.1, n_estimators=150 .............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV] . learning_rate=0.1, n_estimators=150, score=0.725, total=   0.2s
[CV] learning_rate=0.1, n_estimators=440 .............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV] . learning_rate=0.1, n_estimators=440, score=0.541, total=   0.7s
[CV] learning_rate=0.1, n_estimators=440 .............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV] . learning_rate=0.1, n_estimators=440, score=0.647, total=   0.7s
[CV] learning_rate=0.1, n_estimators=440 .............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV] . learning_rate=0.1, n_estimators=440, score=0.679, total=   0.7s
[CV] learning_rate=0.1, n_estimators=440 .............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV] . learning_rate=0.1, n_estimators=440, score=0.722, total=   0.7s
[CV] learning_rate=0.1, n_estimators=440 .............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV] . learning_rate=0.1, n_estimators=440, score=0.711, total=   0.7s
[CV] learning_rate=0.15, n_estimators=100 ............................
[CV]  learning_rate=0.15, n_estimators=100, score=0.642, total=   0.2s
[CV] learning_rate=0.15, n_estimators=100 ............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.15, n_estimators=100, score=0.666, total=   0.2s
[CV] learning_rate=0.15, n_estimators=100 ............................
[CV]  learning_rate=0.15, n_estimators=100, score=0.718, total=   0.2s
[CV] learning_rate=0.15, n_estimators=100 ............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.15, n_estimators=100, score=0.740, total=   0.2s
[CV] learning_rate=0.15, n_estimators=100 ............................
[CV]  learning_rate=0.15, n_estimators=100, score=0.720, total=   0.2s
[CV] learning_rate=0.15, n_estimators=150 ............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.15, n_estimators=150, score=0.573, total=   0.2s
[CV] learning_rate=0.15, n_estimators=150 ............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.15, n_estimators=150, score=0.653, total=   0.2s
[CV] learning_rate=0.15, n_estimators=150 ............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.15, n_estimators=150, score=0.704, total=   0.2s
[CV] learning_rate=0.15, n_estimators=150 ............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.15, n_estimators=150, score=0.726, total=   0.2s
[CV] learning_rate=0.15, n_estimators=150 ............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.15, n_estimators=150, score=0.716, total=   0.2s
[CV] learning_rate=0.15, n_estimators=440 ............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.15, n_estimators=440, score=0.527, total=   0.7s
[CV] learning_rate=0.15, n_estimators=440 ............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.15, n_estimators=440, score=0.608, total=   0.7s
[CV] learning_rate=0.15, n_estimators=440 ............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.15, n_estimators=440, score=0.621, total=   0.7s
[CV] learning_rate=0.15, n_estimators=440 ............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.15, n_estimators=440, score=0.733, total=   0.7s
[CV] learning_rate=0.15, n_estimators=440 ............................

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV]  learning_rate=0.15, n_estimators=440, score=0.687, total=   0.7s

[Parallel(n_jobs=1)]: Done  60 out of  60 | elapsed:   22.1s finished
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

CPU times: user 22.3 s, sys: 52 ms, total: 22.4 s
Wall time: 22.4 s

In [333]:
print(gbr_grid_search.best_params_)
print(gbr_grid_search.best_score_)
print(gbr_grid_search.best_estimator_)

{'learning_rate': 0.05, 'n_estimators': 150}
0.7264435457496294
GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.05, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=150,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

#Change task to Classification

In [337]:
target = ['profitable']

X = dfm[num_cols + cat_cols2]
y = np.array(dfm[target])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.50, random_state=42)

print(y_train, y_test)

[[ True]
 [ True]
 [False]
 ...
 [False]
 [ True]
 [ True]] [[False]
 [ True]
 [False]
 ...
 [False]
 [ True]
 [ True]]

In [347]:
rfr = RandomForestClassifier()
rfr.fit(X_train, y_train)

accuracy_score(np.array(y_test), rfr.predict(X_test))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.6439628482972136

In [349]:
gbc = GradientBoostingClassifier()
gbc.fit(X_train, y_train)

accuracy_score(np.array(y_test), gbc.predict(X_test))

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.6526315789473685

In [350]:
knc = KNeighborsClassifier()
knc.fit(X_train, y_train)

accuracy_score(np.array(y_test), knc.predict(X_test))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

0.5436532507739938

In [352]:
lgr = LogisticRegression()
lgr.fit(X_train, y_train)

accuracy_score(np.array(y_test), lgr.predict(X_test))

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.534984520123839